# Prerequisites
*.d
env3.10
# Compiled Object files
*.slo
*.lo
*.o
*.obj
.idea
build
__pycache__
# Precompiled Headers
*.gch
*.pch
*.txt.user
*.txt.user.*
# Linker files
*.ilk
*.csv
# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
